/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        Merio - The Smart Agency Creative One Page Template
    Version:        1.0
    Author:         M_Adnan
    Last change:    08/08/2017
    Primary use:    Creative, Coporate, Business, Portfolio, Personal
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body 
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + SERVICES
 + OUR FEATURED FOUNDERS
 + BLOG UPDATES 
 + APPOINMENT
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL 
-------------------------------------------------------------------*/
/*=======================================================
      IMPORT FILE
========================================================*/
@import url("animate.css");
/*=======================================================
      THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.fonts {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #343538;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 40px;
	font-weight: bold;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 26px;
}
h6 {
	font-size: 16px;
}
p {
	font-family: inherit;
	color: #666666;
	font-size: 16px;
	line-height: 26px;
	text-rendering: optimizeLegibility;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #141414;
}
.font-raleway {
	font-family: 'Raleway', sans-serif;
}
.font-mont {
	font-family: 'Montserrat', sans-serif;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.font-italic {
	font-style: italic;
}
.font-bold {
	font-weight: bold !important;
}
a:hover, a:focus {
}
.text-color-primary {
	color: #375be4 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.dark-pattern {
	background: url(../images/portfolio/2/bg-parallax-1.png) repeat;
}
.white-bg {
	background: #fff;
}
.orange-bg {
	background: #f6772c;
}
.light-gray-bg {
	background: #f7f7f7 !important;
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.dark-text p {
	color: #141414;
}
/*=======================================================
      SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
}
/*=======================================================
      BUTTON
========================================================*/
.btn {
	background: #375be4;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 40px;
	font-weight: 500;
	border-radius: 0px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover {
	color: #fff;
	background: #131313;
}
.btn-dark {
	color: #666666;
	border: 1px solid #666666;
}
.btn-dark:hover {
	background: #666666;
	color: #fff;
}
/*=======================================================
      HEADINGS
========================================================*/
.heading-block {
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}
.heading-block h6 {
	text-transform: uppercase;
	font-weight: 500;
	margin: 0px;
	margin-bottom: 55px;
}
.heading-block hr {
	width: 200px;
	height: 2px;
	border: none;
	margin: 0;
	background: #eeeeee;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}
.heading-block hr:after {
	height: 2px;
	width: 60px;
	margin: 0 auto;
	position: absolute;
	bottom: -10px;
	background: #375be4;
	content: "";
	left: 0px;
	right: 0px;
}
.heading-block h2 {
	line-height: 56px;
	margin: 0px;
	font-size: 45px;
	max-width: 950px;
	margin: 0 auto;
	font-weight: normal;
}
.heading-block h5 {
	color: #375be4;
	text-transform: none;
	font-weight: normal;
	margin: 0px;
	font-size: 18px;
	margin: 15px 0;
	margin-bottom: 0px;
}
.heading-block h3 span {
}
.heading-block.center hr {
	margin: 0 auto;
	margin-bottom: 45px;
}
/*=======================================================
      TOP BAR
========================================================*/
.top-bar {
	background: #ececec;
	height: 43px;
}
.top-bar p {
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 43px;
	margin: 0px;
}
.top-bar ul li {
	display: inline-block;
}
.top-bar .social-top a {
	line-height: 43px;
	color: #909090;
	font-size: 11px;
	margin: 0 5px;
}
/*=======================================================
      HEADER
========================================================*/
header {
	display: inline-block;
	position: absolute;
	width: 100%;
	z-index: 999;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	margin-top: 50px;
}
header .logo {
	float: left;
	position: absolute;
	text-align: left;
	z-index: 9999;
	margin-top: 16px;
}
header nav {
	display: inline-block;
	width: 100%;
	float: right;
	position: relative;
	z-index: 999;
	min-height: 50px;
	text-align: right;
}
header nav li a {
	padding: 15px 0px;
	padding-bottom: 10px;
	margin: 0;
	margin-top: 1px;
	border-color: transparent;
	text-decoration: none;
	line-height: 20px;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
header nav .simpleNav li {
	padding: 0 15px;
}
header nav .simpleNav li span.new {
	position: absolute;
	font-size: 7px;
	background: rgba(255,255,255,0.8);
	right: 10px;
	color: #000 !important;
	padding: 0 3px;
	line-height: 14px;
	border-radius: 4px;
}
header nav li a:hover {
	color: #375be4;
}
header nav li.current-menu-item a, header nav li.active a {
	color: #375be4;
}
header nav li.current-menu-item a:after {
	width: 100%;
}
header nav li a:hover:after {
	width: 100%;
}
header nav li a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 0;
	height: 2px;
	background-color: #375be4;
	content: "";
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
header nav li.active a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 2px;
	background-color: #375be4;
	content: "";
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
header .simpleNav li.active .dropdown a:after {
	opacity: 0;
}
header .simpleNav li.active .dropdown a:hover:after {
	opacity: 1;
}
header nav li .dropdown a:after {
	height: 1px;
	bottom: -1px;
}
header .simpleNav li .dropdown a:hover:after {
	width: 100%;
}
header nav li .megamenu a:after {
	height: 1px;
	bottom: -1px;
}
header .simpleNav ul.dropdown {
	padding-bottom: 0px;
	background: #141414;
	padding: 5px 0px;
}
header .simpleNav ul.dropdown li a {
	text-transform: uppercase;
	line-height: 20px;
	background: none;
	color: #6f6f6f !important;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	font-weight: normal;
	letter-spacing: 0px;
	padding-right: 0px;
	text-align: left;
	padding: 7px 20px;
	border-bottom: 1px solid rgba(255,255,255,0.06);
}
header .simpleNav ul.dropdown li:nth-last-child(1) a {
	border-bottom: none;
}
header .simpleNav ul.dropdown li a:hover {
	color: #fff !important;
	background: none;
}
header .simpleNav li > .megamenu li a:hover {
	color: #fff !important;
}
header .simpleNav li > .megamenu li a {
	text-transform: uppercase;
	border: none !important;
	line-height: 40px;
	background: none;
	color: #6f6f6f !important;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	font-weight: normal;
	letter-spacing: 0px;
	padding-right: 0px;
	text-align: left;
	padding: 0px;
}
header ul.dropdown {
}
header .simpleNav .megamenu hr {
	width: 23px;
	height: 3px;
	background: #eeb013;
	margin: 15px 0px;
	border: none;
	display: inline-block;
}
header ul.dropdown li {
	padding: 0px;
}
header ul.dropdown li:hover {
	background: none
}
header .simpleNav .megamenu h6 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0px;
}
header .simpleNav .megamenu img {
	width: auto;
	margin-top: -1px;
}
header .simpleNav > li > .megamenu.full-width {
	background: #141414;
	padding: 50px;
	padding-bottom: 40px;
}
header .simpleNav > li > .megamenu.full-width li {
	text-align: left;
}
header nav .simpleNav .indicator {
	margin-left: 5px;
	display: none;
}
.header-menu .container {
	position: relative;
}
.sticky-wrapper {
	height: auto !important;
}
.sticky-wrapper .sticky {
	width: 100%;
}
.is-sticky .sticky .logo {
	margin-top: 0px;
}
.is-sticky .sticky {
	padding-top: 5px;
	padding-bottom: 10px;
	background: rgba(255,255,255,0.95);
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.simpleNav ul.dropdown {
	top: 51px;
}
.is-sticky .sticky .simpleNav ul.dropdown {
	top: 71px;
}
.is-sticky .sticky .simpleNav ul.dropdown li ul.dropdown {
	top: inherit;
}
.simpleNav > li > .megamenu {
	top: 46px;
}
header.dark {
	margin-top: 0px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 12px;
}
header.dark nav li a {
	color: #333;
}
header.dark .is-sticky .sticky {
	background: rgba(255,255,255,0.96);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header.dark .is-sticky .sticky nav {
	margin-top: 0px;
}
header.dark nav {
	margin-top: 5px;
}
header.dark nav li a:after {
	background: #333;
}
.home-agency {
	text-align: center;
}
.header .ownmenu {
	float: right;
}
.header .ownmenu li {
	float: left;
	margin: 0 10px;
}
.header .logo {
	margin-top: 0px;
}
.home-agency h1 {
	font-size: 60px;
	color: #000;
	margin: 20px 0px;
}
.home-agency h3 {
	font-size: 36px;
	color: #000;
	margin: 0px;
	font-weight: bold;
}
.home-agency p {
	font-size: 18px;
	color: #000;
	max-width: 690px;
	margin: 0 auto;
	font-weight: normal;
	margin-top: 30px;
}
.home-agency {
	background: url(../images/slides/slide-bg-2.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
header nav .light-nav li a {
	color: #fff;
}
.flex-direction-nav .flex-nav-prev {
	position: absolute;
	left: 80px;
	top: 50%;
}
.flex-direction-nav .flex-nav-next {
	position: absolute;
	right: 80px;
	top: 50%;
}
.text-slide .flex-direction-nav {
	top: 50%;
	display: block !important;
}
.flex-direction-nav a {
	opacity: 1;
	text-shadow: none;
}
.flex-direction-nav a.flex-prev:before {
	position: relative;
	content: "\e875";
	font-family: 'Linearicons-Free';
	color: #3e3e3e;
	font-size: 35px;
	top: 0px;
	float: left;
	width: 100%;
	line-height: 35px;
}
.flex-direction-nav a.flex-next:before {
	position: relative;
	content: "\e876";
	font-family: 'Linearicons-Free';
	color: #3e3e3e;
	font-size: 35px;
	top: 0px;
	float: left;
	width: 100%;
	line-height: 35px;
}
.home-agency:before {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: "";
	background: rgba(255,255,255,0.3);
}
.home-agency .ag-text {
	margin-top: 50px;
}
.sub-bnr.home-index {
	min-height: 300px;
}
.sub-bnr.home-index h3 {
	color: #333;
}
.sub-bnr.home-index h3 small {
	color: #333;
}
.sub-bnr.home-index p {
	color: #333;
}
.big-background:before {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: "";
	background: rgba(0,0,0,0.5);
}
#wrapper_mbYTP_bgndVideo {
	position: absolute !important;
	width: 100%;
	overflow: hidden;
}
.wpb_single_image img {
	width: 100%;
}
/* BIG VIDEO BACKGROUND
================================================== */
.big-background {
	z-index: 550;
	text-align: center;
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	background: none !important;
}
.big-background.w-video-bg h3 {
	color: #fff;
}
.big-background.w-video-bg p {
	color: #fff;
}
.big-background .big-background-container {
	width: 830px;
	max-width: 100%;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
.big-background-title {
	font-size: 78px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 22px;
	padding-top: 20px;
	display: inline-block;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: top center
}
a.big-background-btn {
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	padding: 10px 14px;
	cursor: pointer;
	letter-spacing: 2px;
	text-align: center;
	display: inline-block;
	-webkit-transition: .4s background ease;
	-moz-transition: .4s background ease;
	-o-transition: .4s background ease;
	transition: .4s background ease;
}
.big-background-btn:hover {
	color: #fff;
	background: rgba(255,255,255,0.20)
}
.big-background-default-image {
	background: url(../images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
	backface-visibility: hidden
}
#bgndVideo {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}
.home-slide .slide-img-1 {
	background: url(../images/slides/slide-bg-1.jpg) center center no-repeat;
	background-size: cover;
}
.home-slide .slide-img-2 {
	background: url(../images/slides/slide-bg-2.jpg) center center no-repeat;
	background-size: cover;
}
.home-slide .slide-img-3 {
	background: url(../images/slides/slide-bg-4.jpg) center center no-repeat;
	background-size: cover;
}
/*=======================================================
      HOME SLIDER
========================================================*/
.home-slide {
	position: relative;
	z-index: 1;
}
/*.home-slide:before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    content: "";
    background: rgba(255,255,255,0.3);
}*/
.home-slide .home-agency:before {
	background: none;
}
.home-slide .slides {
}
.home-slide .home-agency {
	background: none !important;
	z-index: 99;
}
.home-slide li {
	height: 800px;
	text-align: center;
	position: relative;
}
.text-slide li {
	height: auto;
}
.home-slide .flex-control-nav {
	position: absolute;
	z-index: 99;
	bottom: 10px;
	left: 0px;
	right: 0px;
	width: 100px;
	margin: 0 auto;
}
.home-slide .flex-control-nav li {
	height: auto;
}
.home-slide .flex-direction-nav {
	display: none;
}
.home-slide .position-center-center {
	width: 100%;
}
.home-slide .flex-control-paging li a {
	background: rgba(0, 0, 0, 0.5);
}
.home-slide .flex-control-nav li {
	margin: 0 3px;
}
.flex-control-paging li a.flex-active {
	background: #000;
}
/*=======================================================
      SUB BANNE
========================================================*/
.sub-bnr {
	min-height: 550px;
	text-align: center;
}
.sub-bnr h3 {
	color: #000;
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 70px;
	margin-top: 100px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.sub-bnr small {
	font-size: 36px;
	color: #000;
	width: 100%;
	display: inline-block;
}
.sub-bnr p {
	color: #000;
}
.parallax-bg {
	background-size: cover !important;
}
/*=======================================================
      WHO WE ARE
========================================================*/
.who-we-are {
	background: url(../images/bg/bg-who-we.jpg) center top fixed no-repeat;
}
/*=======================================================
      PORTFOLIO
========================================================*/
.portfolio {
}
.portfolio-in:before {
	content: "";
	position: absolute;
	margin-top: 150px;
	width: 100%;
	height: 100%;
	top: 0px;
	background: #91a8ae;
}
.portfolio-in .container {
	position: relative;
	z-index: 2;
}
.portfolio .port-item {
	position: relative;
	overflow: hidden;
	padding: 22px;
	background: #fff;
}
.portfolio .port-item img {
	width: 100%;
}
.portfolio article {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.portfolio .position-center-center {
	width: 100%;
	padding: 0 50px;
	display: none;
}
.port-item-up {
	margin-top: -150px;
}
.portfolio .port-hover {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.9);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.portfolio .hover-content {
	background: none;
	position: relative;
}
.portfolio .hover-content .position-center-center {
	border: 5px solid #fff;
	bottom: auto !important;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.portfolio .port-hover.no-bg {
	background: none !important;
}
a.big-border {
	border: 5px solid #fff;
	display: inline-block;
	padding: 30px 0px;
	font-size: 30px;
	font-weight: bold;
}
a.big-border:hover {
	border: 5px solid #f6772c;
}
.portfolio .port-item:hover .port-hover {
	opacity: 1;
}
.portfolio .port-item:hover img {
	transform: scale(1.1);
}
.portfolio .port-item:hover .position-center-center {
	display: block;
}
.portfolio .port-hover a {
	height: 100%;
	width: 100%;
	font-weight: 600;
	letter-spacing: 0px;
	font-size: 30px;
}
.portfolio .port-hover span {
	font-size: 18px;
	color: #fff;
	width: 100%;
	font-weight: normal;
	margin-bottom: 20px;
	display: inline-block;
}
.portfolio .port-hover h6 {
	color: #fff;
	margin: 0;
	line-height: 30px;
	font-weight: normal;
}
.portfolio .port-detail {
	width: 100%;
	text-align: left;
}
.portfolio .port-detail {
	margin-top: 30px;
	min-height: 80px;
}
.portfolio .port-detail h6 {
	margin-bottom: 10px;
}
.portfolio .port-detail h6 a {
	color: #333333 !important;
	font-size: 15px;
	font-weight: normal;
}
.portfolio .port-detail h6 a:hover {
	color: #fff !important;
}
.portfolio .port-detail p {
	font-size: 15px;
	margin: 0px;
}
.col-2 .cbp-item {
	width: 50% !important;
	padding: 15px;
}
.col-4 .cbp-item {
	width: 25% !important;
}
.col-3 .cbp-item {
	width: 33.33333% !important;
}
.col-5 .cbp-item {
	width: 20% !important;
}
.portfolio .w-80 {
	width: 80% !important;
}
.portfolio .w-40 {
	width: 40% !important;
}
.portfolio .w-20 {
	width: 20% !important;
}
.portfolio .w-60 {
	width: 60% !important;
}
.portfolio .text-left .position-center-center {
}
.portfolio .cbp-item h6 a {
	position: relative;
	height: auto;
	width: auto;
	color: #fff;
}
.portfolio .cbp-item h6 a:hover {
	color: #fff;
}
.portfolio .text-left .position-center-center {
	width: 100%;
	display: inline-block;
}
.portfolio a.cbp-lightbox {
	z-index: 99;
	height: 30px;
	width: 40px;
	color: #fff;
	font-size: 14px;
	position: relative;
	display: inline-block;
}
.portfolio .cbp-item a.link {
	z-index: 99;
	height: 30px;
	width: 40px;
	font-size: 14px;
	color: #fff;
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
}
.portfolio .cbp-item a.link:hover {
	color: #fff;
}
.portfolio .cbp-item a.cbp-lightbox:hover {
	color: #fff;
}
.no-space .port-item {
	padding: 0px;
}
.with-space {
	margin: 0 -15px;
}
.portfolio .with-space .port-item {
	padding: 0px;
}
.portfolio .with-space .cbp-item {
	padding: 15px;
}
.center-auto {
	margin: 0 auto;
	float: none;
}
.cbp-l-filters-buttonCenter .cbp-filter-item {
	background: none;
}
.filter-style-1 {
	border: 1px solid #999999;
	display: inline-block;
	margin-bottom: 100px;
}
.filter-style-1 .cbp-filter-item {
	margin: 0px;
	float: left;
	border: none;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	padding: 5px 30px;
	border-right: 1px solid #999999 !important;
}
.filter-style-1 .cbp-filter-item:nth-last-child(1) {
	border-right: none !important;
}
.filter-style-1 .cbp-filter-item.cbp-filter-item-active {
	color: #f6772c;
}
.filter-style-1 .cbp-filter-item.cbp-filter-item-active:before {
	content: "\f0d7";
	position: absolute;
	font-family: 'FontAwesome';
	bottom: -18px;
	font-size: 30px;
	width: 20px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	color: #fff;
	text-shadow: 0 1px 0px rgba(0,0,0,0.9);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.filter-style-1 .cbp-filter-item:hover {
	color: #f6772c;
}
.filter-style-1 .cbp-filter-item:hover:before {
	content: "\f0d7";
	position: absolute;
	font-family: 'FontAwesome';
	bottom: -18px;
	font-size: 30px;
	width: 20px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	color: #fff;
	text-shadow: 0 1px 0px rgba(0,0,0,0.9);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter:before {
	border-top: 4px solid #375be4;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter {
	background: #375be4;
}
.filter-style-2 {
	display: inline-block;
	margin-bottom: 100px;
}
.filter-style-2 .cbp-filter-item {
	margin: 0px;
	float: left;
	border: none;
	background: #333333;
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	letter-spacing: 1px;
	padding: 5px 30px;
	border-right: 1px solid rgba(255,255,255,0.3) !important;
}
.filter-style-2 .cbp-filter-item:hover {
	background: #f6772d;
	color: #fff;
}
.filter-style-2 .cbp-filter-item.cbp-filter-item-active {
	background: #f6772d;
	color: #fff;
}
.filter-style-2 {
}
.filter-style-3 {
	display: inline-block;
	margin-bottom: 60px;
}
.filter-style-3 .cbp-filter-item {
	margin: 0px;
	float: left;
	border: none;
	font-size: 16px;
	color: #666666;
	padding: 5px 15px;
	font-family: 'Montserrat', sans-serif;
}
.filter-style-3 .cbp-filter-item:hover:before {
	content: "";
	position: absolute;
	width: 25px;
	bottom: 0px;
	background: #375be4;
	height: 2px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
.filter-style-3 .cbp-filter-item.cbp-filter-item-active:before {
	content: "";
	position: absolute;
	width: 25px;
	bottom: 0px;
	background: #375be4;
	height: 2px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
.filter-style-3 .cbp-filter-item.cbp-filter-item-active {
	color: #375be4;
}
.filter-style-3 .cbp-filter-item:hover {
	color: #375be4;
}
.filter-style-4 {
	border-bottom: 1px solid #e5e9ea;
	display: inline-block;
	width: 100%;
}
.filter-style-4 .cbp-filter-item {
	margin: 0px;
	display: inline-block;
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 10px;
	color: #999999;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 35px 20px;
	padding-bottom: 10px;
}
.filter-style-4 .cbp-filter-item.cbp-filter-item-active {
	color: #333333;
}
.filter-style-4 .cbp-filter-item.cbp-filter-item-active:before {
	content: "";
	position: absolute;
	width: 100%;
	bottom: -21px;
	background: #f6772d;
	height: 2px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
.filter-style-4 .cbp-filter-item:hover:before {
	content: "";
	position: absolute;
	width: 100%;
	bottom: -21px;
	background: #f6772d;
	height: 2px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
.filter-style-5 {
	display: inline-block;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,0.15);
	position: relative;
	padding: 5px 10px;
}
.filter-style-5 .cbp-filter-item {
	margin: 0px;
	display: inline-block;
	border: none;
	background: #fff;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 10px;
	color: #999999;
	letter-spacing: 1px;
	padding: 0px 30px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.filter-style-5 .cbp-filter-item:hover {
	background: #f6772c;
	color: #fff;
}
.filter-style-5 .cbp-filter-item.cbp-filter-item-active {
	background: #f6772c;
	color: #fff;
}
.cbp-popup-singlePage .cbp-popup-close {
	background: none;
}
.cbp-popup-singlePage .cbp-popup-close:before {
	content: '\e082';
	font-family: 'Simple-Line-Icons';
	color: #333333;
	line-height: 45px;
	font-size: 20px;
}
.cbp-popup-singlePage .cbp-popup-prev {
	background: none;
}
.cbp-popup-singlePage .cbp-popup-prev:before {
	content: '\e07a';
	font-family: 'Simple-Line-Icons';
	color: #333333;
	line-height: 45px;
	font-size: 20px;
}
.cbp-popup-singlePage .cbp-popup-next {
	background: none;
}
.cbp-popup-singlePage .cbp-popup-next:before {
	content: '\e079';
	font-family: 'Simple-Line-Icons';
	color: #333333;
	line-height: 45px;
	font-size: 20px;
}
.cbp-popup-singlePage .cbp-popup-navigation {
	position: relative;
	width: auto;
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap {
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.cbp-popup-singlePage .cbp-popup-next {
	left: auto;
	right: 0px;
}
.cbp-popup-singlePage .cbp-popup-prev {
	left: 0px;
	right: auto;
}
.cbp-popup-singlePage-counter {
	left: 0px;
	right: 0px;
	top: 60px;
	color: #333333;
	opacity: 0.3;
}
.portfolio .port-item .position-bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 0 30px;
	padding-top: 0px;
	text-align: left;
}
.portfolio .cbp-item a.link {
	position: absolute;
	background: #375be4;
	right: 0px;
	bottom: 0px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0px;
}
.portfolio .cbp-item a.cbp-lightbox {
	position: absolute;
	background: #375be4;
	right: 55px;
	bottom: 0px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
}
/*=======================================================
      SINGLE PROJECT
========================================================*/
.about .about-us-con {
}
.bg-2.img-content-half {
	background: url(../images/about-img-1.jpg) center center no-repeat;
	background-size: cover;
}
.about .about-us-con h3 {
	margin: 0px;
	margin-bottom: 30px;
}
.about .about-us-con h6 {
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 15px;
}
.main-half-layout {
	background: url(../images/about-img-1.jpg) center center no-repeat;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
}
.main-half-layout-container {
	position: relative;
	padding: 80px 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 40%;
	margin: 0 5%;
}
.main-half-layout-container.half_left_layout {
	float: right;
	margin-left: auto;
}
.main-page-section {
	position: relative;
	width: 100%;
	float: left;
	display: inline-block;
	margin-bottom: 0px;
	background-color: #fffbf5;
}
.about .studio-bg {
	background: url(../images/about-img.jpg) center center no-repeat;
	background-size: cover;
}
.main-half-layout.half_right_layout {
	right: 0;
}
.main-half-layout-container.half_right_layout {
	float: left;
}
/*=======================================================
			According
========================================================*/
.accordion {
}
.accordion .panel-default > .panel-heading .panel-title a:before {
	content: "\f209";
	font-family: "Ionicons";
	padding: 0px;
	color: #fff;
	float: right;
	position: absolute;
	right: 25px;
	font-size: 14px;
}
.accordion .panel-default > .panel-heading .panel-title a.collapsed:before {
	content: "\f218";
	font-family: "Ionicons";
}
.accordion .panel-default > .panel-heading {
	background-color: transparent;
	padding: 0px;
	border-radius: 0px;
	overflow: hidden;
	text-align: left;
}
.accordion .panel {
	background: none;
}
.accordion .panel-default > .panel-heading a {
	text-decoration: none;
	font-size: 16px;
	width: 100%;
	font-weight: normal;
	padding: 14px;
	padding-left: 20px;
	line-height: 20px;
	padding-right: 26px;
	display: inline-block;
	text-transform: none;
	background: #375be4;
	color: #fff;
}
.accordion .panel-default {
	border: none;
}
.accordion .panel {
	box-shadow: none;
	border-radius: 0px;
	position: relative;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.accordion .panel-body {
	padding: 20px;
}
.accordion .panel-body p {
	font-size: 14px;
}
.accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
}
.accordion .panel-title a.collapsed {
	background: #fff !important;
	color: #222;
}
.accordion .panel-title a:hover {
	background: #375be4 !important;
	color: #fff !important;
}
.accordion .panel-default > .panel-heading .panel-title a.collapsed:before {
	color: #375be4 !important;
}
/*=======================================================
      ICON STYLE
========================================================*/
/*.our-banafits{
	background:#375be4
}*/
.icon-style .icon {
	display: inline-block;
	color: #375be4;
	font-size: 40px;
	margin-right: 15px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.studio-intro h2 {
	margin-bottom: 15px;
}
.icon-style .icon:before {
	content: "";
	position: absolute;
	bottom: -10px;
	height: 2px;
	width: 50%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background: #375be4;
}
.icon-style article:hover .icon:before {
	width: 150%;
}
.icon-style article {
	margin-bottom: 40px;
}
.bef-img {
}
.icon-style.icon-center .icon {
	margin-right: 0px;
}
.icon-style h5 {
	font-size: 18px;
	margin: 0px;
	letter-spacing: 0px;
	font-weight: 600;
}
.icon-style h4 {
	font-weight: 500;
	letter-spacing: 0px;
	font-size: 18px;
	margin: 0px;
	margin-bottom: 20px;
}
.icon-fill h5 {
	margin-bottom: 10px;
}
.counters i {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	color: #375be4;
	font-size: 40px;
	height: 45px;
}
.counters span {
	font-size: 40px;
}
.counters .counter {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}
.counters li {
	text-align: center;
}
/*=======================================================
			SKILLS
========================================================*/
.team-skills p {
	line-height: 30px;
}
.progress-bars p {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #8a8a8a;
	text-align: left;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-bottom: 0px;
	line-height: 24px;
}
.progress-bars {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.progress {
	border-radius: 0px;
	position: relative;
	background: #f1f1f2;
	box-shadow: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	overflow: inherit;
	position: relative;
	height: 5px;
	margin-top: 10px;
}
.progress-bar {
	border-radius: 0px;
	background: #375be4;
	height: 5px;
	box-shadow: none;
}
.progress-bars .bar {
	position: relative;
}
.progress-bar-tooltip {
	float: right;
	position: relative;
	right: 0px;
	top: -30px;
	color: #8a8a8a;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding-right: 0px;
	font-family: 'Montserrat', sans-serif;
}
.progress-bars.style-2 .progress {
	height: 10px;
	border-radius: 0px;
	position: relative;
	background: #e1e1e1;
	box-shadow: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	height: 10px;
}
.progress-bars.style-2 .progress-bar {
	border-radius: 0px;
	background: #ff83a6;
	height: 10px;
}
.progress-bars.style-2 p {
	font-size: 12px;
	font-weight: normal;
}
.progress-bars.style-2 .progress-bar-tooltip {
	position: absolute;
	font-weight: normal;
	padding-right: 0px;
	line-height: 24px;
}
.progress-bars.style-1 .progress-bar-tooltip {
	float: right;
	right: 3px;
	top: -28px;
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	width: 35px;
	padding-right: 0px;
	border-radius: 4px;
	line-height: 24px;
	text-align: center;
}
.progress-bars.style-2 .progress-bars p {
	margin: 0px;
	font-size: 11px;
	color: #141414;
	margin-bottom: 0px;
}
.progress-bars.style-3 .progress-bar-tooltip {
	color: #fff;
	padding-right: 20px;
}
.progress-bars.style-3 .progress {
	border: 1px solid #141414;
	border-radius: 4px;
	background: #fff;
	margin-top: 0px;
}
.progress-bars.style-3 .progress-bar {
	background: #141414;
}
.progress-bars.style-3 p {
	color: #fff;
	display: inline-block;
	padding-left: 20px;
	float: left;
	font-weight: bold;
	line-height: 28px;
}
.progress-bars .caret-left {
	padding-left: 15px;
}
.progress-bars .caret-left:before {
	content: "\f0da";
	position: absolute;
	font-size: 14px;
	left: 0px;
	color: #909090;
	font-family: 'FontAwesome';
}
.progress-bars .caret-down {
	padding-right: 0px;
}
.progress-bars .caret-down:before {
	content: "\f0d7";
	position: absolute;
	font-size: 14px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	bottom: -14px;
	color: #ab4e52;
	font-family: 'FontAwesome';
}
/*=======================================================
      SINGLE PROJECT
========================================================*/
.single-progect .heading-block h6 {
	margin-bottom: 40px;
}
.single-progect .heading-block hr {
	margin: 0 auto;
	margin-bottom: 45px;
}
.single-progect .project-info {
	margin-top: 0px;
	margin: 0px;
	margin-bottom: 100px;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #e5e9ea;
	border-bottom: 1px solid #e5e9ea;
}
.single-progect .project-info li {
	float: left;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 25%;
	border-right: 1px solid #e5e9ea;
}
.single-progect .project-info li:nth-last-child(2) {
	border: none !important;
}
.single-progect .project-info li:nth-last-child(1) {
	border: none !important;
	padding: 0px;
}
.single-progect .project-info li p {
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	letter-spacing: 1px;
}
.single-progect .project-info li span {
	color: #666666;
	letter-spacing: 1px;
	font-size: 13px;
}
.cbp-popup-singlePage .cbp-popup-content {
	width: 100%;
	max-width: 100%;
	text-align: center;
}
/*=======================================================
      PORTFOLIO DETAIL
========================================================*/
.portfolio-details {
}
.portfolio-details .project-info {
	margin-top: 270px;
	padding-left: 30%;
}
.portfolio-details .project-info li {
	margin-bottom: 30px;
}
.portfolio-details .project-info li p {
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
.portfolio-details .project-info li span {
	color: #666666;
	letter-spacing: 1px;
	font-size: 13px;
}
.portfolio-details .project-info li a {
	color: #f6772c;
}
/*=======================================================
      SERVICES
========================================================*/
#services_id .container {
	width: 100%;
	padding: 0px;
}
#services_id {
	background: #f9f9f9;
}
.services .service-part {
	text-align: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.services .service-part h6 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 0px;
	letter-spacing: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.services .service-part p {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 0px;
}
.services ul {
	margin-bottom: 10px;
}
.services .service-part {
	position: relative;
	padding: 60px 40px;
	padding-left: 170px;
}
.services .service-part:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0%;
	width: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background: #375be4;
}
.services .service-part:hover:before {
	height: 100%;
}
.services .service-part:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0%;
	height: 2px;
	background: #375be4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.services .service-part:hover:after {
}
.services .service-part:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	z-index: 1;
	background: #fff;
}
.services .service-part i {
	font-size: 56px;
	height: 100px;
	width: 100px;
	color: #375be4;
	line-height: 100px;
	float: left;
	margin-right: 30px;
	position: absolute;
	left: 40px;
	text-align: center;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.services .service-part:hover i {
	color: #375be4;
}
.services .service-part:hover i:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0%;
	height: 2px;
	background: #375be4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.services .service-part:hover i:after {
	width: 100%;
}
.services .service-part:hover h6 {
	color: #375be4;
}
.services.style-2 .content-we-are {
	padding-left: 80px;
}
.style-img-4 {
	margin-left: -150px;
	float: left;
}
/*=======================================================
      FEATURED
========================================================*/
.more-feature ul li {
	padding: 15px 15px;
	width: 20%;
	float: left;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.more-feature ul li:hover {
	background: #e5e9ea;
}
.more-feature ul li h6 {
	font-size: 16px;
	font-weight: bold;
	width: 70%;
	line-height: 23px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.more-feature ul li article {
	border: 1px solid #e5e9ea;
	padding: 90px 60px;
}
.more-feature ul li p {
	font-size: 13px;
	line-height: 23px;
}
.more-feature ul li i {
	font-size: 22px;
	display: inline-block;
	margin-bottom: 20px;
}
.lamd {
	position: absolute;
	top: 0px;
	right: 20%;
}
.content-we-are {
	padding-right: 35%;
	padding-left: 50px;
}
/*=======================================================
      OUR TEAM
========================================================*/
.our-team {
}
.our-team article {
	position: relative;
}
.our-team .avatar {
	position: relative;
	overflow: hidden;
}
.our-team .team-hover {
	background: rgba(0,0,0,0.9);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.our-team article .social-icons {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.our-team article:hover .team-hover {
	left: 0px;
	opacity: 1;
	width: 100%;
	text-align: center;
}
.our-team article:hover img {
	transform: scale(1.1);
}
.our-team .social-icons a {
	color: #fff;
	line-height: 38px;
	font-size: 14px;
	margin: 0px;
	display: inline-block;
	border: 1px solid #fff;
	border-color: transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.our-team .social-icons a:hover {
	background: #fff;
	color: #375be4;
	border: 1px solid #fff;
}
.our-team .position-center-center {
	width: 100%;
	text-align: center;
}
.our-team h6 {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin-top: 25px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.our-team p {
	color: #fff;
	font-size: 12px;
}
.with-nav .owl-nav {
	position: absolute;
	top: -87px;
	right: 0px;
}
.with-nav .owl-nav div {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
	color: #888888;
	line-height: 38px;
	border-radius: 4px;
	background: #fff;
}
.with-nav .owl-nav div:hover {
	background: #375be4;
	color: #fff;
	border: 1px solid #375be4;
}
.with-nav.middle-nav .owl-nav .owl-prev {
	position: absolute;
	left: -60px;
	margin: 0px;
	top: 50%;
	margin-top: -10px;
}
.with-nav.middle-nav .owl-nav .owl-next {
	position: absolute;
	right: -60px;
	margin: 0px;
	margin-top: -10px;
	top: 50%;
}
.with-nav.middle-nav .owl-nav {
	position: inherit;
	top: 0%;
}
.let-talk-sec {
	background: url(../images/let-talk-bg.jpg) center center repeat-y;
	background-size: cover;
	padding: 150px 0;
}
.let-talk-sec h1 {
	margin: 0px;
	color: #fff;
	font-weight: 800;
}
.let-talk-sec {
	text-align: center;
}
/*=======================================================
      BLOG
========================================================*/
.blogo {
	position: relative;
	z-index: 1;
	margin-bottom: 0px !important;
}
.blogo:before {
	position: absolute;
	content: "";
	background: #fff;
	height: 91px;
	top: 0px;
	width: 100%;
	left: 0px;
	z-index: -1;
}
.post-content {
	padding-top: 30px;
}
.post-tittle {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	color: #333333;
	display: inline-block;
	margin-top: 35px;
	letter-spacing: 2px;
}
.post-tittle:hover {
	color: #375be4;
}
.post-content .btn {
	margin-top: 10px;
}
.post-content p {
	font-size: 14px;
}
.post-content .tag {
	display: inline-block;
	width: 100%;
	text-transform: none;
	color: #375be4;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.post-content hr {
	width: 90px;
	height: 8px;
	border: none;
	margin: 50px 0;
	display: inline-block;
	background: #333333;
	margin-bottom: 48px;
}
.post-content {
	margin-top: 60px;
}
.post-content .date {
	background: #375be4;
	display: inline-block;
	color: #fff;
	float: right;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 10px 15px;
}
.blog-post-home.style-2 {
	margin-top: 0px;
	position: relative;
}
.blog-post-home.style-2 .date {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 99;
	text-align: right;
}
.blog-post-home.style-2 .post-content hr {
	margin: 30px 0;
}
.blog-post-home.style-2 .post-content .post-info li i {
	margin-left: 0px;
	margin-right: 10px;
}
.blog-post-home.style-2 .post-content .post-info li {
	margin-right: 20px;
	margin-top: 40px;
}
.post-detail blockquote {
	font-size: 30px;
	border: none;
	border-top: 1px solid #e3e3e3;
	text-transform: uppercase;
	line-height: 42px;
	padding-top: 40px;
}
.list-type h6 {
	margin-bottom: 30px;
}
.list-type li {
	line-height: 58px;
	position: relative;
	padding-left: 30px;
}
.list-type li:before {
	content: "\e080";
	font-family: 'Simple-Line-Icons';
	position: absolute;
	left: 0px;
	font-size: 10px;
	font-size: 14px;
	color: #494949;
	top: 0px;
	line-height: 26px;
}
.post-tags {
	margin-top: 80px;
	display: inline-block;
	width: 100%;
}
.post-tags li {
	display: inline-block;
	margin-right: 20px;
}
.post-tags li a {
	border: 1px solid #666666;
	color: #666666;
	padding: 5px 15px;
}
.post-tags li a:hover {
	background: #666666;
	color: #fff;
}
.post-detail blockquote i {
	position: absolute;
	left: 0px;
	font-size: 20px;
}
.blog-post-home .date span {
	color: #999999;
}
.blog-post-home .date .huge {
	color: #333333;
	line-height: 80px;
	font-size: 92px;
	display: inline-block;
	width: 100%;
}
.admin-info {
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	margin-top: 80px;
}
.admin-info {
}
.admin-info li {
	padding: 80px 0;
}
.admin-info li:nth-child(1) {
	border-right: 1px solid #e0e0e0;
}
.admin-info li h6 {
	text-transform: uppercase;
}
.admin-info li p {
	margin: 0px;
}
.admin-info span {
	color: #f6772c;
}
.blog-post-home {
	position: relative;
	margin-bottom: 100px;
}
.blog-post-home:nth-last-child(1) {
	margin-bottom: 0px;
}
.blog-post-home:before {
	position: absolute;
	left: 0px;
	height: 100%;
	position: absolute;
	content: "";
	background: #f7f7f7;
	bottom: 0px;
}
.post-info {
	margin-bottom: 30px;
}
.post-info li {
	display: inline-block;
}
.post-info li {
	font-size: 13px;
	color: #666666;
}
.post-info li i {
	font-size: 20px;
	margin-right: 5px;
	margin-left: 20px;
}
.post-info.text-white li {
	color: #fff;
	margin-top: 20px;
}
.blog-list .post-content {
	padding-top: 0px;
}
.text-left .post-info li {
	margin-right: 20px;
}
.text-left .post-info li i {
	margin-left: 0px;
	margin-right: 5px;
}
.paging {
	display: inline-block;
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.paging li {
	display: inline-block;
	margin: 0 10px;
	line-height: 30px;
}
.paging li i {
	font-size: 12px;
}
.paging li a:hover {
	color: #f6772c;
}
/*=======================================================
      COMMENTS
========================================================*/
.comments li {
	margin-bottom: 80px;
}
.comments li h6 {
	margin-top: 0px;
	font-size: 13px;
	margin-bottom: 15px;
}
.comments .avatar {
	width: 70px;
	display: inline-block;
}
.comments li h6 span {
	font-size: 13px;
	color: #666666;
	font-weight: normal;
}
.comments li p {
	font-size: 13px;
	line-height: 23px;
}
.add-comments {
	background: #e5e9ea;
}
.add-comments li label {
	display: inline-block;
	width: 100%;
	font-weight: normal;
}
.add-comments li input {
	display: inline-block;
	width: 100%;
	height: 50px;
	padding: 0px;
	border: 1px solid;
	border-color: transparent;
	background: none;
	font-size: 16px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	color: #fff;
	padding: 0px;
	font-size: 16px;
	margin-bottom: 40px;
	border-bottom: 1px solid #999999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.add-comments li textarea {
	display: inline-block;
	width: 100%;
	height: 150px;
	padding: 0px;
	border: 1px solid;
	border-color: transparent;
	background: none;
	font-size: 16px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	text-transform: uppercase;
	color: #fff;
	padding: 0px;
	font-size: 16px;
	border-bottom: 1px solid #999999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.add-comments .form-control:focus {
	border-bottom: 1px solid #000;
	text-shadow: none;
	box-shadow: none;
}
.add-comments .btn {
	border-color: #666666;
	color: #666666;
	padding: 15px 50px;
}
/*=======================================================
      COMING SOON
========================================================*/
.bg-black {
	background: #000;
}
.bg-black .coming-soon h6 {
	font-size: 21px;
	color: #999999;
	line-height: 36px;
}
.coming-soon h1 {
	color: #f6772c;
	font-size: 48px;
	color: #f6772c;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	margin-bottom: 30px;
}
.coming-soon .countdown {
	margin-top: 30px;
}
.coming-soon .countdown li {
	position: relative;
}
.coming-soon .countdown.style-2 li:before {
	content: ":";
	font-size: 138px;
	color: #fff;
	right: -20px;
	position: absolute;
}
.coming-soon .countdown.style-2 li:nth-last-child(1):before {
	display: none;
}
.coming-soon .countdown span {
	font-size: 138px;
	font-weight: normal;
	color: #000000;
}
.coming-soon .clock-icon {
	font-size: 72px;
	color: #000;
	margin-top: 50px;
	display: inline-block;
}
.coming-soon .countdown li p {
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
}
.coming-soon .countdown.text-white li p {
	color: #fff;
}
.coming-soon .countdown.text-white li span {
	color: #fff;
}
.coming-soon .social {
	margin-top: 150px;
}
.coming-soon .social li {
	display: inline-block;
}
.coming-soon .social li a {
	color: #999999;
	font-size: 20px;
	margin: 0 15px;
}
.coming-soon .social li a:hover {
	color: #fff;
}
.coming-soon .countdown.style-3 span {
	font-family: 'Playfair Display', serif;
	font-size: 138px;
}
.coming-soon .countdown.style-3 p {
	font-size: 30px;
	margin-top: 20px;
}
.coming-soon .countdown.style-3 li {
	border-right: 1px solid rgba(255,255,255,0.3);
	padding: 50px 0;
	padding-top: 0px;
}
.coming-soon .countdown.style-3 li:nth-last-child(1) {
	border-right: none;
}
.coming-soon .newsletter {
	margin-top: 80px;
}
.coming-soon .newsletter .form-control {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.coming-soon .newsletter button {
	border-color: #fff;
	color: #fff;
}
/*=======================================================
			Clients
========================================================*/
.clients-img {
}
.clients-img ul {
	margin: 0px;
	display: inline-block;
	width: 100%;
}
.clients-img {
}
.clients-img li {
	float: left;
	width: 20%;
	margin-top: 0px;
	text-align: center;
	list-style: none;
}
.clients-img.col-4 .item {
	text-align: center;
}
.clients-img.col-4 li {
	width: 25%;
}
.clients-img.col-4 .item a {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 25px 0;
}
.clients-img.col-4 .item a:hover {
	border: 1px solid #000;
}
.clients-img .item a {
	display: inline-block;
	width: 100%;
	opacity: 0.2;
}
.clients-img .item a:hover {
	display: inline-block;
	width: 100%;
	opacity: 1;
}
#client-slide-1 {
	margin-bottom: 30px;
}
.clients-img .owl-controls .owl-dots {
	bottom: -60px;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
}
.clients-img .owl-controls .owl-dots div {
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: rgba(255,255,255,0.3);
	margin: 0 0px;
	border: 2px solid #afafaf;
	margin-right: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.clients-img .owl-controls .owl-dots div.active {
	border: 2px solid #629ee7;
}
.clients-img .owl-controls .owl-dots div:hover {
	border: 2px solid #629ee7;
}
.clients-img .owl-nav {
	display: none;
}
.clients-img .owl-controls .owl-dots span {
	margin-bottom: 0px;
}
/*=======================================================
      FOOTER
========================================================*/
.footer {
	background: #fff;
	padding: 100px 0;
	padding-bottom: 0px;
}
.footer p {
	color: #666666;
	line-height: 36px;
}
.footer .contact-info {
	color: #666666;
}
.footer .contact-info i {
	width: 50px;
	display: inline-block;
	line-height: 36px;
	font-size: 20px;
}
.footer p {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0px;
}
.footer p i {
	display: inline-block;
	width: 30px;
	font-size: 18px;
}
.footer .office-info p {
	line-height: 40px;
}
.footer h6 {
	font-size: 18px;
	color: #222;
	margin-bottom: 40px;
	font-weight: 600;
	position: relative;
}
.footer h6:after {
	height: 1px;
	width: 40px;
	position: absolute;
	bottom: -15px;
	background: #375be4;
	content: "";
	left: 0px;
	right: 0px;
}
.footer .contact-info li {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.footer .rights {
	background: #f7f7f7;
	height: 80px;
	line-height: 80px;
	display: inline-block;
	width: 100%;
	float: left;
	margin-top: 0px;
}
.footer .rights h5 {
	line-height: 80px;
	margin: 0px;
}
.footer .rights p {
	line-height: 80px;
}
.footer .rights a {
	color: #375be4;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
.footer .rights a:hover {
}
.footer-links {
	text-align: center;
	margin-top: 50px;
}
.footer-links li {
	display: inline-block;
}
.footer-links a {
	color: #666666;
	margin-right: 10px;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin: 0 30px;
}
.footer-links a:hover {
	color: #fff;
}
/*=======================================================
			testimonial
========================================================*/
.testimonial #testi-slide {
	width: 75%;
	text-align: center;
	margin: 0 auto;
}
.testimonial #testi-slide .avatar {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.testimonial #testi-slide .avatar img {
	border-radius: 50%;
}
.testimonial #testi-slide i {
	left: 0px;
	width: 100%;
	right: 0px;
	height: 100px;
	width: 100px;
	color: #375be4;
	border-radius: 50%;
	border: 1px solid #375be4;
	text-align: center;
	font-size: 50px;
	font-style: normal;
	top: 0px;
	margin-bottom: 30px;
	line-height: 94px;
}
.testimonial .icon {
	color: #666666;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.testimonial #testi-slide p {
}
.testimonial #testi-slide h6 {
	color: #666666;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;
}
.testimonial #testi-slide span {
	color: #6e6e6e;
	margin-bottom: 30px;
	display: inline-block;
}
.testimonial .owl-controls .owl-dots div {
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.5);
	margin: 0 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.testimonial .owl-nav {
	margin-top: 30px;
}
.testimonial .owl-controls .owl-dots div.active {
	background: #375be4;
	border-color: #375be4;
}
/*=======================================================
			PRICINF TABLE
========================================================*/
.pricing-table {
	margin-left: 0;
	position: relative;
	z-index: 3;
	background: #f5f5f5;
}
.pricing {
	background: #f5f5f5;
}
.pricing-table .cta-button {
	padding-left: 50px;
	padding-top: 30px;
}
.pricing-table .price {
	background-color: transparent;
	color: #141414;
	font-size: 40px;
	font-weight: 300;
	padding: 15px 0;
	padding-bottom: 0px;
	letter-spacing: 0px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}
.pricing-table .description {
	background-color: transparent;
	border-bottom: none;
	color: #6f6f6f;
	font-weight: 400;
	text-align: left;
}
.pricing-table .bullet-item {
	background-color: transparent;
	border-bottom: none;
	color: #343538;
	padding-left: 50px;
	font-weight: 400;
	line-height: 46px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 14px;
	border-bottom: 1px solid #f7f7f7;
}
.pricing-table .price-label {
	background-color: #F76626;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.78571rem;
	text-transform: uppercase;
	border-radius: 50%;
	height: 3.21429rem;
	line-height: 3.21429rem;
	padding: 0 0.35714rem;
	width: 3.21429rem;
}
.pricing-table .price-label {
	position: absolute;
	top: 0;
	left: 84%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pricing-table .mixed {
	position: relative;
}
.pricing-table .mixed .price-label {
	bottom: 0;
	top: auto;
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.pricing-table .price .currency {
	font-size: 18px;
	padding-right: 5px;
	vertical-align: top;
	position: relative;
	top: -5px;
	font-weight: 500;
}
.pricing-table .price .period {
	font-size: 14px;
	color: #606060;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	text-transform: none;
}
.pricing-table .cta-button .button {
	margin: 0;
}
.pricing-table.style-1 {
	position: relative;
}
.table-price:nth-child(1) .title {
}
.table-price:nth-child(2) .title {
	background: #5ab7d6;
}
.table-price:nth-child(3) .title {
	background: #5c71a1;
}
.table-price:nth-child(4) .title {
	background: #c66892;
}
.table-price:nth-child(5) .title {
	background: #4cb5b6;
}
.pricing-table.style-1 {
}
.pricing-table.style-1 .cta-button {
	position: static;
}
.pricing-table.style-1 .cta-button .btn {
	margin: 0;
	width: 100%;
	margin-top: 30px;
}
.pricing .table-price {
	width: 20%;
	float: left;
	margin-top: 30px;
}
.pricing .papupalr {
	margin-top: 0px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
}
.pricing .papupalr .price {
	margin-top: 30px;
}
.pricing .papupalr .btn {
	margin-top: 60px !important;
}
.pricing-table.mixed-skew-bottom-left .mixed:before {
	border-bottom: 20px solid #fff;
	border-left: 280px solid transparent;
	bottom: -2px;
	content: "";
	left: 0;
	position: absolute;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-moz-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	-o-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transform-origin: 0 100% 0;
	-moz-transform-origin: 0 100% 0;
	-ms-transform-origin: 0 100% 0;
	-o-transform-origin: 0 100% 0;
	transform-origin: 0 100% 0;
	width: 100%;
	z-index: 0;
}
.pricing-table.mixed-skew-bottom-right .mixed:before {
	border-bottom: 20px solid #fff;
	border-right: 280px solid transparent;
	bottom: -2px;
	content: "";
	left: 0;
	position: absolute;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-moz-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	-o-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transform-origin: 0 100% 0;
	-moz-transform-origin: 0 100% 0;
	-ms-transform-origin: 0 100% 0;
	-o-transform-origin: 0 100% 0;
	transform-origin: 0 100% 0;
	width: 100%;
	z-index: 0;
}
.pricing.style-2 .icon {
	background: #fff url(../images/fact/pattern-bg.jpg) repeat;
	height: 80px;
	width: 80px;
	line-height: 78px;
	border: 1px solid #eeeeee;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	text-align: center;
	z-index: 99;
	margin: 0 auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
}
.pricing .style-2 {
	margin-top: 50px;
	padding-top: 50px;
}
.pricing.style-2 .pricing-table .title {
	background: #fff;
	font-size: 20px;
	color: #375be4;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0px;
	padding: 45px 0;
	padding-left: 50px;
	text-align: left;
}
.pricing.style-2 .pricing-table p {
	line-height: 42px;
}
.pricing.style-2 .pricing-table {
	background: #fff;
	border: 1px solid #dfdbdb;
	border-radius: 4px;
	position: relative;
	padding-bottom: 40px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.pricing .pricing-table.style-2 .price {
	letter-spacing: -0.6px;
	font-style: italic;
	padding: 0px;
	border-bottom: 1px solid #ececec;
}
.pricing .pricing-table.style-2 .price .currency {
	font-style: normal;
	padding-right: 0px;
}
.pricing .pricing-table.style-2 .btn {
	width: 100%;
	background: #141414;
	margin-top: 20px;
	color: #fff;
	padding: 20px 0;
	font-size: 14px;
	border: none;
}
.pricing .pricing-table.style-2 .btn:hover {
	background: #ff83a6;
}
.pricing .pricing-table.style-3 .price {
	padding-top: 0px;
	background-size: cover;
	color: #fff;
	font-size: 24px;
	padding-top: 30px;
	font-style: italic;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
}
.pricing .pricing-table.style-3 .bg-img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: -1;
}
.pricing .pricing-table.style-3 .price:before {
	content: "";
	height: 50px;
	background: #fff;
	width: 120%;
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	transform: rotate(7deg);
	position: absolute;
	left: -20px;
	bottom: -20px;
}
.pricing .pricing-table.style-3 .period {
	color: #fff;
	font-size: 18px;
}
.pricing .pricing-table.style-3 .currency {
}
.pricing .pricing-table.style-3 h5 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 30px;
	font-style: normal;
	border: 2px solid #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
}
.pricing .pricing-table.style-3 .btn {
	width: 100%;
	background: #ececec;
	margin-top: 20px;
	color: #141414;
	padding: 20px 0;
	font-size: 14px;
	border: none;
}
.pricing .pricing-table.style-3 .btn:hover {
	background: #141414;
	color: #fff;
}
.pricing.style-2 .pricing-table.pre .title {
	background: #375be4;
	color: #fff;
}
.pricing.style-2 .pricing-table.pre .cta-button {
	background: #375be4;
}
.pricing.style-2 .pricing-table.pre .cta-button .btn {
	background: #fff;
	color: #375be4;
}
.pricing.style-2 .pricing-table.pre .price {
	color: #fff;
}
.pricing.style-2 .pricing-table.pre .period {
	color: #fff;
}
/*=======================================================
      BLOG
========================================================*/ 
.blog article {
	margin-bottom: 30px;
	padding-bottom: 0px;
	background: #fff;
}
.blog article {
}
.blog .post-info {
	padding: 0px;
	position: relative;
}
.blog article .extra {
	margin-bottom: 5px;
}
.blog article .extra span {
	color: #576363;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
	line-height: 30px;
}
.blog article .extra span i {
	height: 28px;
	font-size: 12px;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	border-radius: 50%;
	color: #5b6767;
	text-align: center;
}
.blog .post-info hr {
	margin: 10px 0;
	background: #444444;
}
.blog .post-in .btn i {
	margin-left: 5px;
}
.blog .post-in .btn {
	font-size: 12px;
	padding: 8px 15px;
	margin-top: 10px;
}
.blog .post-in {
	padding: 15px 0;
	text-align: left;
}
.blog .post-in span.by {
	color: #fb4848;
	font-size: 12px;
	display: inline-block;
	width: 100%;
}
.blog .tittle-post {
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	line-height: 26px;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 5px;
}
.blog .post-info p {
	font-size: 14px;
	line-height: 26px;
}
.blog .post-info .read-more {
	border-bottom: 1px dotted #00b1f1;
	display: inline-block;
	float: right;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 10px;
	font-weight: bold;
	color: #444444;
	font-size: 11px;
}
.blog .icons li {
	margin-top: 20px;
	margin-right: 10px;
	display: inline-block;
}
.blog .date-post {
	width: 70px;
	height: 100px;
	float: left;
	padding: 0 10px;
	text-align: center;
	line-height: 36px;
	background: #253030;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 26px;
	font-weight: bold;
}
.blog .date-post span {
	font-size: 12px;
	border-top: 1px solid #fff;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 10px;
}
.port-paging li {
	display: inline-block;
	text-transform: uppercase;
}
.port-paging a {
	color: #fff;
	font-size: 12px;
	margin: 0 10px;
}
.port-paging a i {
	margin: 0 5px;
}
.port-paging a .fa-times {
	height: 35px;
	width: 35px;
	border: 1px solid rgba(255,255,255,0.3);
	display: inline-block;
	line-height: 33px;
	text-align: center;
}
.paging-news {
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	background: #fbfbfb;
	padding: 20px 20px;
}
.paging-news li {
	display: inline-block;
	text-transform: uppercase;
}
.paging-news li a {
	font-size: 12px;
}
.blog-single .stare-ev {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
}
.blog-single ul {
	margin-bottom: 0px !important;
}
.blog-single .tags {
	float: left;
}
.blog-single .tags h5 {
	margin-top: 10px;
}
.blog-single .tags li {
	display: inline-block;
}
.blog-single .blog-post {
	margin-bottom: 0px;
	border: none;
	padding-bottom: 20px;
}
.blog-single .pager {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
}
.blog-single .tags li a {
}
.blog-single .social_icons {
	display: inline-block;
}
.blog-single .social_icons h6 {
	font-size: 13px;
}
.blog-single .social_icons li {
	margin-right: 5px;
}
.blog-single .social_icons a {
	font-size: 14px;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	border: 1px solid #333333;
	line-height: 34px;
	color: #333333;
	display: inline-block;
	text-align: center;
	margin: 0px;
}
/*=======================================================
			CONTACT FORM
========================================================*/
.contact #contact_form {
	text-align: center;
}
footer .social-icons {
}
footer .social-icons a {
	width: 40px;
	height: 40px;
	color: #375be4;
	margin-right: 5px;
	border: 1px solid #375be4;
	display: inline-block;
	text-align: center;
	line-height: 38px;
}
footer .social-icons a:hover {
	background: #375be4;
	color: #fff;
}
.contact .error {
	border: none;
	border-bottom: 1px solid red !important;
}
.contact .error:before {
	content: "\f071";
	font-family: 'FontAwesome';
	position: absolute;
	color: red;
}
.success-msg {
	background: #fff;
	border: 1px solid #ABD0A8;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form p {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 0px;
}
#contact_form input {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0px;
	border: 1px solid;
	border-color: transparent;
	background: none;
	font-size: 12px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	color: #fff;
	padding: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #666666;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#contact_form .form-control {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	color: #000;
	padding: 0px 20px;
	font-size: 12px;
	background: none;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#contact_form textarea {
	height: 120px !important;
	background: none;
	padding: 0px;
	color: #fff;
	padding: 10px;
	padding-top: 10px !important;
	font-size: 16px;
}
#contact_form .btn {
	text-transform: uppercase;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	line-height: 26px;
	position: relative;
	background: none;
}
.contact-form label span {
	color: #fff;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
#contact_form .form-control:focus {
	border-bottom: 2px solid #375be4;
}
.contact-form button, .contact-form input[type="submit"] {
	background: #375be4 !important;
	border-radius: 0px;
	color: #fff;
	width: auto !important;
	border: none;
	margin-top: 0px;
	padding: 10px 50px !important;
	float: left;
	font-weight: 600;
	margin-top: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
div.wpcf7-response-output {
	float: left !important;
}
.contact-form button:hover, .contact-form input[type="submit"]:hover {
	background: #000 !important;
	color: #fff;
}
.newsletter {
}
.newsletter label {
	font-weight: normal;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	line-height: 26px;
	position: relative;
	background: none;
}
.newsletter label span {
	color: #fff;
}
.newsletter textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
.newsletter button {
	float: right;
	border: 1px solid #666666;
	background: none;
	border-radius: 0px;
	color: #666666;
	margin-top: 0px;
	letter-spacing: 1px;
	padding: 15px 50px;
	float: none;
	margin-top: 50px;
	margin-bottom: 150px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.newsletter button:hover {
	background: #fff;
	color: #333;
	border-color: #fff;
}
.newsletter form {
	width: 50%;
	margin: 0 auto;
}
.newsletter input {
	display: inline-block;
	width: 100%;
	height: 50px;
	padding: 0px;
	border: 1px solid;
	border-color: transparent;
	background: none;
	font-size: 16px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	color: #fff;
	padding: 0px;
	box-shadow: none;
	font-size: 16px;
	border-bottom: 1px solid #666666;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin: 0 auto;
}
.newsletter .form-control {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: none;
	color: #fff;
	text-align: center;
	padding: 0px;
	font-size: 16px;
	background: none;
	border-bottom: 1px solid #666666;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.newsletter .form-control:focus {
	border-bottom: 1px solid #fff;
}
#map {
	height: 450px;
}
.map-wrapper {
	height: 450px;
	margin-top: 100px;
}
/*=======================================================
			GO TO TOP
========================================================*/
.cd-top {
	display: inline-block;
	height: 40px;
	z-index: 9;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	color: #375be4;
	font-size: 26px;
	text-align: center;
	line-height: 34px;
	border: 2px solid #375be4;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	white-space: nowrap;
	background: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 0.5;
}
.cd-top.cd-fade-out {
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: #375be4;
	opacity: 1;
	color: #fff;
}
.single-progect h4 {
	font-size: 20px;
	margin-bottom: 30px;
}
#wrap.boxed-layout {
	max-width: 1280px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#wrap.boxed-layout .is-sticky .sticky {
	left: 0px;
}
.bg1-body {
	background: url(../images/slides/slide-bg-3.jpg) fixed no-repeat;
	background-size: cover;
}
#wrap.boxed-layout .contact.style-2 .contact-right {
	padding-right: 20px;
}
#wrap.boxed-layout .more-feature ul li {
	width: 33.3333%;
}
#wrap.boxed-layout .more-feature ul li:nth-last-child(1) {
	width: 50%;
}
#wrap.boxed-layout .more-feature ul li:nth-last-child(2) {
	width: 50%;
}
#wrap.boxed-layout .more-feature ul li h6 {
	width: 100%;
}
#wrap.boxed-layout .content-we-are {
	padding-right: 20px;
	padding-left: 20px;
}
#wrap.boxed-layout .sticky-wrapper .sticky {
	max-width: 1280px;
	width: auto;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
#wrap.boxed-layout header .sticky {
	padding-left: 20px;
	padding-right: 20px;
}
/*=======================================================
			GO TO TOP
========================================================*/
.dark-version .footer {
	background: #252525;
}
.dark-version .portfolio-in:before {
	background: #252525;
}
.dark-version section {
	background: #202020;
}
.dark-version h1 {
	color: #b3b3b3;
}
.dark-version h2 {
	color: #b3b3b3;
}
.dark-version h3 {
	color: #b3b3b3;
}
.dark-version h4 {
	color: #b3b3b3;
}
.dark-version h5 {
	color: #b3b3b3;
}
.dark-version h6 {
	color: #b3b3b3;
}
.dark-version .post-tittle {
	color: #b3b3b3;
}
.dark-version .blog-post-home .date .huge {
	color: #b3b3b3;
}
.dark-version p {
	color: #959595;
}
.dark-version .heading-block hr {
	background: #b3b3b3;
}
.dark-version .post-content hr {
	background: #b3b3b3;
}
.dark-version .more-feature ul li:hover {
	background: #000;
}
.dark-version .more-feature ul li article {
	border-color: #000;
}
.dark-version .light-gray-bg {
	background: #252525;
}
.dark-version .blogo:before {
	background: #252525;
}
.dark-version {
	color: #959595;
}
.dark-version .sub-bnr h3 {
	color: #fff;
}
.dark-version .sub-bnr p {
	color: #fff;
}
.dark-version hr {
	border-color: #4d4d4d;
}
.dark-version .paging li a {
	color: #959595;
}
.dark-version .filter-style-1 .cbp-filter-item:hover:before {
	color: #202020;
}
.dark-version .filter-style-1 .cbp-filter-item.cbp-filter-item-active:before {
	color: #202020;
}
.dark-version .filter-style-1 {
	border: 1px solid rgba(255,255,255,0.1);
}
.dark-version .filter-style-1 .cbp-filter-item {
	border-right: 1px solid rgba(255,255,255,0.1) !important;
}
.dark-version .filter-style-1 .cbp-filter-item:hover:before {
	text-shadow: 0 1px 0px rgba(255,255,255,0.1) !important;
}
/*.dark-version .cbp-l-filters-buttonCenter .cbp-filter-item {
	background: #202020;
}*/
.dark-version .filter-style-1 .cbp-filter-item.cbp-filter-item-active:before {
	text-shadow: 0 1px 0px rgba(255,255,255,0.1) !important;
}
.dark-version .filter-style-2 .cbp-filter-item {
	background: #333333;
}
.dark-version .filter-style-2 .cbp-filter-item {
	border-right: 1px solid rgba(255,255,255,0.1) !important;
}
.dark-version .filter-style-2 .cbp-filter-item.cbp-filter-item-active {
	background: #f6772d;
	color: #fff;
}
.dark-version .filter-style-2 .cbp-filter-item:hover {
	background: #f6772d;
	color: #fff;
}
.dark-version .portfolio .port-item {
	background: none;
}
.dark-version .filter-style-4 .cbp-filter-item.cbp-filter-item-active {
	color: #fff;
}
.dark-version .portfolio .cbp-item .port-detail h6 a {
	color: #b3b3b3 !important;
}
.dark-version .portfolio .cbp-item .port-detail h6 a:hover {
	color: #f6772c !important;
}
.dark-version .filter-style-4 {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.dark-version .cbp-l-filters-buttonCenter .cbp-filter-item:hover {
	color: #fff;
}
.dark-version .portfolio-details .project-info li p {
	color: #b3b3b3;
}
.dark-version .filter-style-5 {
	border: 1px solid rgba(255,255,255,0.2);
}
.dark-version .filter-style-5 .cbp-filter-item {
	background: rgba(255,255,255,0.02);
}
.dark-version .filter-style-5 .cbp-filter-item:hover {
	background: #f6772c;
	color: #fff;
}
.dark-version .filter-style-5 .cbp-filter-item.cbp-filter-item-active {
	background: #f6772c;
	color: #fff;
}
.dark-version .filter-style-4 .cbp-filter-item {
	background: none !important;
}
.dark-version .who-we-are {
	background: url(../images/bg/bg-who-we-dark.jpg) fixed no-repeat;
}
.dark-version section.port-item-up {
	background: none;
}
.dark-version .portfolio .portfolio-in .port-item {
	background: rgba(255,255,255,0.05);
}
/*=======================================================
			HAM MENU
========================================================*/
.header-menu {
	margin-top: 45px;
	padding: 0 50px;
}
.header-menu .sticky {
}
.fat-nav, .hamburger__icon, .hamburger__icon:after, .hamburger__icon:before {
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	-webkit-transition-duration: .4s
}
.hamburger {
	display: block;
	width: 50px;
	height: 45px;
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 999;
	padding: 12px;
	padding-top: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation
}
.hamburger__icon {
	position: relative;
	margin-top: 7px;
	margin-bottom: 7px
}
.hamburger__icon, .hamburger__icon:after, .hamburger__icon:before {
	display: block;
	width: 25px;
	height: 2px;
	background-color: #000;
	-moz-transition-property: background-color, -moz-transform;
	-o-transition-property: background-color, -o-transform;
	-webkit-transition-property: background-color, -webkit-transform;
	transition-property: background-color, transform;
	transition-duration: .4s
}
.hamburger__icon:after, .hamburger__icon:before {
	position: absolute;
	content: ""
}
.hamburger__icon:before {
	top: -7px
}
.hamburger__icon:after {
	top: 7px
}
.hamburger.active .hamburger__icon {
	background-color: transparent
}
.hamburger.active .hamburger__icon:after, .hamburger.active .hamburger__icon:before {
	background-color: #fff
}
.hamburger.active .hamburger__icon:before {
	-moz-transform: translateY(7px)rotate(45deg);
	-ms-transform: translateY(7px)rotate(45deg);
	-webkit-transform: translateY(7px)rotate(45deg);
	transform: translateY(7px)rotate(45deg)
}
.hamburger.active .hamburger__icon:after {
	-moz-transform: translateY(-7px)rotate(-45deg);
	-ms-transform: translateY(-7px)rotate(-45deg);
	-webkit-transform: translateY(-7px)rotate(-45deg);
	transform: translateY(-7px)rotate(-45deg)
}
.fat-nav {
	top: 0;
	left: 0;
	z-index: 9999;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(55,91,228,1);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	transition-duration: .4s;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}
.fat-nav .position-center-center {
	width: 100%;
	text-align: left;
	padding-left: 150px;
}
.fat-nav__wrapper {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
	display: table;
	table-layout: fixed;
}
.fat-right {
	float: right;
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0px;
	background: #fff;
	background: url(../images/nav-bg.jpg) right bottom no-repeat;
	background-size: cover;
}
.fat-right:before {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	content: "";
}
.fat-nav.active {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1)
}
.fat-nav ul {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0
}
.fat-nav .logo {
	display: inline-block;
	position: relative;
	float: none;
	margin: 0px;
	margin-bottom: 20px;
	opacity: 0.5;
	display: none;
}
.fat-nav .logo:hover {
	opacity: 1;
}
.fat-nav li {
	list-style-type: none;
	text-align: left;
	padding: 5px 0;
	font-size: 36px;
}
.fat-nav li, .fat-nav li a {
	color: rgba(255,255,255,1);
}
.fat-nav li, .fat-nav li a:hover {
	color: #fff;
}
.fat-nav li a {
	text-transform: uppercase;
	font-weight: 800;
}
.fat-nav li a {
	text-decoration: none
}
body.no-scroll {
	overflow-y: auto !important;
}
.boxed-layout .services .service-part {
	padding: 50px 50px;
}
.boxed-layout .services .service-part i {
	position: relative;
	float: none;
	left: 0px;
	display: inline-block;
	text-align: left;
	margin-bottom: 20px;
}
.boxed-layout .col-4 .cbp-item {
	width: 33.3333% !important;
}
