<!-- BLOCK 1 -->
<div class="cbp-loadMore-block1"> 
  <!-- Item -->
  <div class="cbp-item col-md-6 web mob-app photo ui">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-1.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project1.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-1.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <!-- Item -->
  <div class="cbp-item col-md-3 brand web mob-app">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-2.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project2.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-2.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <!-- Item -->
  <div class="cbp-item col-md-3 web photo ui">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-3.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project3.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-3.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- BLOCK 2 -->
<div class="cbp-loadMore-block2"> 
  
  <!-- Item -->
  <div class="cbp-item col-md-6 mob-app photo ui">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-8.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project4.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-8.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <!-- Item -->
  <div class="cbp-item col-md-3 mob-app photo">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-5.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project5.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-5.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <!-- Item -->
  <div class="cbp-item col-md-3 brand">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-4.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project6.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-4.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <!-- Item -->
  <div class="cbp-item col-md-6 brand web mob-app">
    <div class="port-item"> 
      <!-- article img -->
      <article> <img src="images/portfolio/img-7.jpg" alt=""> 
        <!-- Portfolio Hover -->
        <div class="port-hover">
          <div class="position-bottom">
            <div class="animated fadeInUp">
              <h6><a href="ajax-work/project7.html" class="cbp-singlePage">Web Design</a> <span>Creative Agency.</span> <a href="images/portfolio/img-7.jpg" class="cbp-lightbox" data-title=""><i class="icon-magnifier"></i></a> <a href="ajax-work/project1.html" class="cbp-singlePage link" rel="nofollow"><i class="icon-link"></i> </a> </h6>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
