<div class="container">
  <div class="single-progect text-center">
    <div class="row">
      <div class="col-md-10 center-auto">
        <div class="heading text-center"> <span>March 4, 2016</span>
          <h4>A Creating Lovable Company</h4>
        </div>
        
        <!-- Images -->
        <ul class="row margin-bottom-10">
          <li class="col-md-6 margin-bottom-30"> <img class="img-responsive" src="images/single-img-5.jpg" alt="" > </li>
          <li class="col-md-6 margin-bottom-30"> <img class="img-responsive" src="images/single-img-6.jpg" alt="" > </li>
          <li class="col-md-6 margin-bottom-30"> <img class="img-responsive" src="images/single-img-4.jpg" alt="" > </li>
          <li class="col-md-6 margin-bottom-30"> <img class="img-responsive" src="images/single-img-3.jpg" alt="" > </li>
        </ul>
        <div class="row">
          <div class="col-md-12 text-left">
            <h4 class="margin-bottom-20">PROJECT DESCRIPTION</h4>
            <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet interdum  <br />
              <br />
              culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime. </p>
          </div>
          <div class="col-md-12 text-left margin-top-30">
            <h4 class="margin-bottom-20">PROJECT </h4>
            <!-- Project Info -->
            <ul class="project-info row">
              <li class="col-md-3">
                <p>Role:</p>
                <span>Creative Director</span> </li>
              <li class="col-md-3">
                <p>Completed:</p>
                <span>2015</span> </li>
              <li class="col-md-3">
                <p>Client: </p>
                <span>Themeforest</span> </li>
              <li class="col-md-3">
                <p>technology</p>
                <span> Photoshop, HTML & Bootstrap</span> </li>
              <li class="col-md-12"><a href="#." class="btn btn-1 margin-bottom-100 margin-top-20">LIVE URL </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
