<div class="container">
  <div class="single-progect text-center">
    <div class="row">
      <div class="col-md-10 center-auto">
        <div class="heading text-center"> <span>March 4, 2016</span>
          <h4>Culture Code: Creating A Lovable Company</h4>
        </div>
        
        <!-- Images -->
        <ul class="row margin-bottom-10">
          <li class="col-md-12 margin-bottom-30">
            <div class="cbp-slider">
              <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item"> <img class="img-responsive" src="images/single-img-4.jpg" alt="" > </li>
                <li class="cbp-slider-item"> <img class="img-responsive" src="images/single-img-5.jpg" alt="" > </li>
                <li class="cbp-slider-item"> <img class="img-responsive" src="images/single-img-6.jpg" alt="" > </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-8 padding-right-50 text-left">
            <h4 class="margin-bottom-30">PROJECT DESCRIPTION</h4>
            <p>Nam congue, pede vitae dapibus aliquet interdum dui ligula ultricies purus, sed posuere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae <br />
              <br />
              culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime. </p>
              
              <a href="#." class="btn btn-1 margin-bottom-100 margin-top-30">LIVE URL</a>
          </div>
          <div class="col-md-4 text-left">
            <h4 class="margin-bottom-30">PROJECT </h4>
            <!-- Project Info -->
            <ul class="project-info">
              <li>
                <p>Role:</p>
                <span>Creative Director</span> </li>
              <li>
                <p>Completed:</p>
                <span>2016</span> </li>
              <li>
                <p>Client: </p>
                <span>Themeforest</span> </li>
              <li>
                <p>technology</p>
                <span> Photoshop, HTML & Bootstrap</span> </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
